:root{
    --cor-de-fundo: rgb (255, 255, 255);
    --cor-da-fonte:  rgb (255, 255, 255);
    --cor-fonte-títulos: #ffffff;
    --cor-de-fundo-cabecalho: var(--cor-de-fundo);
}



body{





}

h1{




}

.cabecalho_enu-hamburguer{




}

.cabecalho{




}

.container{




    
}

